body {
  background-color: hsl(212, 45%, 89%)  


}

h1 {
  color: hsl(218, 44%, 22%)

}

p {
  color: hsl(220, 15%, 55%)
}

.cadre {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  border: 1px;
  border-radius: 20px;
  background: white;
  padding: 15px;
  margin-top: 150px;
  margin-right: 450px;
  margin-left: 450px;
  text-align: center;


}

img {
  border-radius: 20px;
  height: 245px;
  width: 245px;
}
